<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
            width:100%;
            table-layout: fixed;
            overflow-wrap: break-word;
        }
        table, th, td {
            border: 1px solid black;
        }
        </style>
    </head>
    <body>
        <div style="width: 85%; margin: 0 7.5%;">
            <div style="text-align: center; padding-left: 50px;">            
                <h3>Pendaftar Lolos Tender</h5>
                <table>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Jabatan</th>
                        <th>Status Seleksi</th>
                        <th>Status Dokumen</th>
                    </tr>
                <% if (result.length > 0) { %>
                    <% result.forEach(item => {%>
                       <tr>
                           <td><%= item.no %></td>
                           <td><%= item.nama %></td>
                           <td><%= item.jabatan %></td>
                           <td><%= item.statusSeleksi %></td>
                           <td><%= item.statusDokumen %></td>
                       </tr>
                    <%  });%>
                <% }%>
                </table>
             </div>
        </div>
    </body>
</html>